[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
opencv-python = "*"
numpy = "*"
matplotlib = "*"
pywavelets = "*"
scikit-image = "*"
pyqt5 = "*"
pyqtgraph = "*"

[dev-packages]

[requires]
python_version = "3.9"
